* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
.flex-container {
    display: flex;
    background-color: white;
    justify-content:space-between;
    height: 80px;
    border:2px solid grey;
    margin: 20px 20px;
    border-radius: 7px;
    width: 95%;
    padding: 10px 30px;
    flex-direction: row;
    position: fixed;
  }
  .flex-item {
    margin: 5px;
    text-align: center;
    line-height: 20px;
    font-size: 20px;
    justify-content: flex-start;
    align-items:center;
    display:flex;
  }
  .flex-item img {
    height: 150%;
    
  }
.flex-item ul {
  width: 500px;
  list-style:none;
  margin: 10px;
  justify-content: space-between;
} 
  