* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
.flex-container {
    display: flex;
    background-color: white;
    justify-content:space-between;
    height: 80px;
    border:2px solid grey;
    margin: 10px 20px;
    border-radius: 7px;
  }
  .flex-item {
    width: 500px;
    margin: 10px;
    text-align: center;
    line-height: 20px;
    font-size: 20px;
    justify-content: flex-end;
    align-items:center;
    display:inline-flex;
  }
  .flex-item img {
    margin: 37px 167px;
    align-items:flex-start;
  }
.flex-item ul {
  list-style:none;
  margin: 10px;
  justify-content: space-between;
} 
  